footer[role=contentinfo]{
  @include clearfix;
  background: $dark-gray;
  font-size: 0.9em;
  margin: 0;
  text-align: center;

  section{
    padding: $base-spacing;

    &.footer-content{
      @include clearfix;

      @include media($wide-screen-up) {
        margin: 0 auto;
        max-width: 960px;
      }

      margin-bottom: 0;
    }

    &.terms{
      background:$yellow;
      color: $dark-gray;
      margin: 0;
      padding: $small-spacing $base-spacing;

      a{
        color: $dark-gray;
        text-decoration: underline;
      }
    }
  }

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    @include media($wide-screen-up) {
      float: left;
      width: 150px;
    }

    img {
      max-width: 100%;
    }
  }

  .footer-links {
    margin-bottom: 0;

    @include media($large-screen-up) {
      float:left;
      margin-left: 5%;
      width: 30%;
    }

    @include media($wide-screen-up) {
      margin-left: 40px;
      text-align: left;
      width: 190px;
    }

    &.first{
      @include media($large-screen-up) {
        margin-left: 0;
      }

      @include media($wide-screen-up) {
        margin-left: 40px;
      }
    }
  }

  .footer-social{
    @include media($large-screen-up) {
      clear: both;
    }

    @include media($wide-screen-up) {
      clear: none;
      float: right;
      margin-top: 1em;
      width: 50px;
    }

    a{
      margin-left: 0.5em;

      @include media($wide-screen-up) {
        display: block;
        margin-bottom: 0.5em;
        margin-left: 0;
      }

      &.facebook{
        color: $facebook;
        margin-left:0;

        &:hover{
          color: darken($facebook, 15%);
        }
      }
      &.twitter{
        color: $twitter;

        &:hover{
          color: darken($twitter, 15%);
        }
      }
      &.linkedin{
        color: $linkedin;

        &:hover{
          color: darken($linkedin, 15%);
        }
      }

    }
  }

  ul {
    margin-bottom: $base-spacing * 2;
  }

  li a {
    color: $light-gray;
    line-height: 1.6em;

    &:focus,
    &:hover {
      color: $white;
    }
  }

  li h3 {
    border-bottom: 1px solid $light-gray;
    color: $light-gray;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 0.4em;
    text-transform: uppercase;
  }
}
