header.main{
  background: $white;
  height: 80px;
  padding: 19px 20px; //button height

  @include media($large-screen-up) {
    height: 100px;
    padding: 20px;
  }

  a.logo{

    img{
      max-height: 100%;
    }
  }
}
