*{
  @include box-sizing(border-box);
}

html, body{
  height:100%;
}

body{
  border-top: 5px solid $blue;
  background: $light-gray;

  &.ajax{
    border-top: 0 none;
  }
}

section{
  margin: $base-spacing 0;

  &.background{
    margin: 0;
  }

  &.content{
    margin: $base-spacing;

    &.login{
      @include media($large-screen-up) {
        margin: $base-spacing auto;
        max-width: 600px;
      }
    }
    &.form{
      @include media($wide-screen-up) {
        margin: $base-spacing auto;
        max-width: 900px;
      }
    }
  }
}

.center{
  text-align:center;
}

.blue{
  color: $blue;
}

.yellow{
  color: $yellow;
}

.light-gray{
  color: $light-gray;
}

.medium-gray{
  color: $medium-gray;
}

.dark-gray{
  color: $dark-gray;
}

.white{
  color: $white;
}

.page-content{
  @include clearfix;

  .sidebar{
    @include media($large-screen-up) {
      @include span-columns(3);
    }

    @include media($wide-screen-up) {
      @include span-columns(3);
    }
  }

  .main-content{
    background: $white;

    @include media($large-screen-up) {
      @include span-columns(5);
      @include omega();
    }

    @include media($wide-screen-up) {
      @include span-columns(9);
      @include omega();
    }

    &.full{
      @include media($large-screen-up) {
        @include span-columns(8);
        @include omega();
      }
      @include media($wide-screen-up) {
        @include span-columns(12);
        @include omega();
      }
    }

    &.no-background{
      background: none;

      .text-content{
        padding: 0;
      }

      section.tile{
        background: $white;
        margin: $base-spacing 0;
        padding: $base-spacing;
        position: relative;
        text-align: center;

        &.link{
          padding: 0;
          background: none;

          a{
            background: $white;
            display: block;
            height: 100%;
            padding: $base-spacing;
            width: 100%;

            &:hover{
              background: $blue;
              color: $white;
            }
          }

          &.yellow{
            a{
              background: $yellow;
              color: $dark-gray;

              &:hover{
                background: darken($yellow, 15%);
              }
            }
          }
        }

        h2{
          color: $blue;
          font-size:1.6em;
          font-weight: 300;
        }
      }
    }

    h1{
      background: $blue;
      color: $white;
      line-height: 1;
      margin: 0;
      padding: 0.5em $base-spacing/2;
    }

    .text-content{
      padding: $base-spacing;
    }
  }
}
