.sliding-menu-content {
  $sliding-menu-border-color: $dark-gray;
  $sliding-menu-background: lighten($sliding-menu-border-color, 5%);
  $sliding-menu-color: $white;
  $sliding-menu-border: 1px solid $sliding-menu-border-color;
  $sliding-menu-background-hover: $blue;
  $sliding-menu-color-hover: $white;
  $sliding-menu-background-focus: lighten($sliding-menu-background, 5%);

  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.25s linear);
  background: $sliding-menu-background;
  z-index: 5;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include media($large-screen-up) {
    @include position(relative, 0px 0px 0px 0px);
    @include size(auto auto);
    @include transform(translateX(0));
    @include transition(none);

    background: none;
    float: right;
  }

  li {

    @include media($large-screen-up) {
      display: inline-block;
      margin-right: 1em;
    }

    &.button{
      a{
        background: $action-color;
        color: $white;
        font-weight: bold;

        &:hover{
          background-color: darken($action-color, 15%);
          color: $white;
        }

        @include media($large-screen-up) {
          box-shadow: 3px 3px 0 0 darken($action-color, 15%);
          color: $white;

          &:hover{
            background-color: darken($action-color, 15%);
            box-shadow: 3px 3px 0 0 darken($action-color, 30%);
            color: $white;
          }
        }

      }
    }


    a {
      border-bottom: $sliding-menu-border;
      color: $sliding-menu-color;
      display: block;
      font-family: $heading-font-family;
      font-size: 0.9em;
      font-weight: normal;
      padding: 1em;

      &:focus {
        background-color: $sliding-menu-background-focus;
      }

      &:hover {
        background-color: $yellow;
        color: $dark-gray;
      }

      @include media($large-screen-up) {
        border-bottom: 0 none;
        border-radius: $base-border-radius;
        color: $dark-gray;
        line-height: 50px;
        margin: 5px 0;
        overflow: auto;
        padding: 0 1em;

        &:hover{
          box-shadow: 3px 3px 0 0 darken($yellow, 15%);
        }
      }
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-menu-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 4;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }

  @include media($large-screen-up) {
    display: none;
  }
}

button.sliding-menu-button {
  float: right;
  font-size: 0.85em;
  font-weight: 300;
  text-transform: uppercase;

  @include media($large-screen-up) {
    display: none;
  }
}

// Based on code by Diego Eis
