.sidebar{

  ul{

    li{
      a{
        background: $white;
        display: block;
        font-family: $heading-font-family;
        padding: 1em 2em;
        text-decoration: uppercase;

        &:hover{
          background: $blue;
          color: $white;
        }

        &.current{
          background: $yellow;
          color: $dark-gray;

          &:hover{
            background: darken($yellow, 15%)
          }
        }
      }
    }
  }
}
