#{$all-button-inputs},
button.button,
a.button {
  @include transition(all 0.2s ease-in-out);
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  box-shadow: 3px 3px 0 0 darken($action-color, 15%);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 2.5em;
  padding: 0 1em;
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: $white;
    box-shadow: 3px 3px 0 0 darken($action-color, 30%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.outline{
    background: $white;
    border: 1px solid $action-color;
    box-shadow: none;
    color: $action-color;

    &:hover,
    &:focus {
      background-color: $action-color;
      color: $white;
    }
  }

  &.yellow{
    background-color: $yellow;
    box-shadow: 3px 3px 0 0 darken($yellow, 15%);
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($yellow, 15%);
      color: $white;
      box-shadow: 3px 3px 0 0 darken($yellow, 30%);
    }
  }

  &.large{
    font-size: 1.6em;
  }
}
