.cards {
  @include clearfix();
}


.card {
  margin: $base-spacing;

  .card-wrapper{
    @include transition (all 0.2s ease-in-out);
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $base-border-color;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    cursor: pointer;
    position: relative;

    &:focus,
    &:hover {
      background-color: darken($white, 2%);
    }
  }


  @include media($medium-screen-up) {
    float: right;
    margin: $base-spacing $base-spacing $base-spacing 0;
    width: 43%;
  }

  &:nth-child(2n+1){
    @include media($medium-screen-up) {
      clear: both;
      float: left;
      margin: $base-spacing;
    }
  }

  @include media($large-screen-up) {
    width: 45%;
  }


  .card-image {
    height: 125px;
    padding: ($base-spacing / 2) 0;
    text-align: center;

    img {
      @include transition (all 0.2s ease-in-out);
      max-height: 100%;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    color: $blue;
    font-family: $heading-font-family;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 $base-spacing;
    text-align: center;
    text-transform: uppercase;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0 $base-spacing $base-spacing $base-spacing;

    p {
      margin: 0 0 ($base-spacing / 2);
    }

    a.button{
      margin: 0 auto;
    }
  }
}
