// modified from http://www.minimit.com/demos/parallax-backgrounds-with-centered-content

.parallax, .hero{
  position: relative;

  &.background {
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-position:50% 50%\9 !important;
  }

  &.not-fullscreen {
    height:50%;

    @include media($medium-screen-up) {
      min-height: 450px;
    }
  }

  &.near-fullscreen {
    height:75%;

    @include media($medium-screen-up) {
      min-height: 500px;
    }
  }

  &.small-screen{
    height:30%;

    @include media($medium-screen-up) {
      max-height: 300px;
    }
  }

  &.fullscreen,
  &.fullscreen.not-overflow,{
    min-height:600px;
  }

  &.not-overflow,
  &.not-overflow .wrapper {
    height:100%;
    overflow:hidden;
  }

  .overlay{
    background: rgba(64, 64, 65, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .wrapper {
    display:table;
    min-height:100%;
    width:100%;
  }
  .wrapper-inner {
    display:table-cell;
    padding: 2em;
    position:relative;
    text-align:center;
    vertical-align:middle;

    h3{
      color: $white;
      font-size: 1.2em;
      padding: 2em;

      @include media($large-screen-up) {
        font-size: 2em;
      }

      &.border{
        border: 2px solid $yellow;
        font-size: 0.75em;
        font-weight: normal;
        position: relative;

        @include media($medium-screen-up) {
          font-size: 1em;
        }

        @include media($large-screen-up) {
          font-size: 1.15em;
        }

        @include media($wide-screen-up) {
          font-size: 1.25em;
        }

        @include media($big-screen-up) {
          font-size: 1.4em;
        }

        &:before{
          border: 2px solid $yellow;
          bottom: 5px;
          content: "";
          left: 5px;
          position: absolute;
          right: 5px;
          top: 5px;
          z-index: 1;
        }

        div{
          position: relative;
          z-index: 2;
        }

        a{
          color: $yellow;

          &:active,
          &:focus,
          &:hover {
            color: darken($yellow, 15%);
          }
        }
      }
    }
  }


}
