.field-ratings{
    input{
        display: none;
    }

    label{
        color: $light-gray;
        display: inline-block;
        padding: 0 0.5em;

        &.hover, &.selected{
            color: $yellow;
            cursor: pointer;
        }
    }
}
